.search-result {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    margin-right: 5px;
}

.search-result *{
    margin: 0;
    overflow-wrap: break-word;
}

.search-result:hover{
    background-color: #fafafa;
}

.title {
    font-size: 2rem;
}

.link {
    color: #007bff;
    text-decoration: none;
}

.description {
    margin-bottom: 10px;
}

.similarity {
    font-style: italic;
    color: #666;
    margin-bottom: 15px;
}
